{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %}{% endblock %}GHS</title>
    {% include 'css.html' %}
    {% block custom_css %}
    {% endblock %}
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
            {% include '_partials/header.html' %}
        <!-- /Header -->

        {% block content %}

        {% endblock %}

        <!-- Footer -->
            {% include '_partials/footer.html' %}
        <!-- /Footer -->

   </div>
   <!-- /Main Wrapper -->

    {% include 'js.html' %}
    {% block custom_js %}
    {% endblock %}

</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->
</html>